*{
    background-color: rgb(255, 242, 127);
    color: indigo;
    margin: 5px;
}
p{
    font-size: 12pt;
}
h1{
    font-size: 40pt;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
h2{
    font-size: 20pt;
    color: brown;
}
img{
    width: 300px;
    height: 300px;
    border-style: dashed;
}
.container{
    margin-left: 10px;
    width: 100%;
    color: #000;
    border-style: dashed;
    height: 100%;
}
.con1{
    float: left;
    width: 23%;
    height: 50%;
    
    border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  
}
.pie{
text-align-last: center;
   
    float: right;
    width: 100%;
}
.con3{
    width: 25%;
    margin: 5px;
    float: left;
    border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
}
.con4{
    width: 25%;
    margin: 5px;

    border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
}
.co{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}